body {
    background-color: black;
    font-family:'Playfair Display';
  
}
h1 {
    color: black;
    text-align: center;
    font-display: relative;
    font-size: large;
    width: 180px;
}
   
.input::placeholder {
    color: #9e9ea7;
}
  
.input:focus, input:hover {
    outline: none;
    border-color: rgba(234,76,137,0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}


.search-container {
  display: flex;
  align-items: center;
}

#search-icon {
  background: none;
  border: none;
  margin-right: 5px;
  cursor: pointer;
}

#search-input {
  border: none;
  padding: 5px;
}

@media screen and (max-width: 767px) {
  .menu{
    display: none !important;
  }
}
  
@media screen and (min-width: 768px) and (max-width: 1023px) {
  #container{
    grid-template-columns: 1fr 1fr 1fr 1fr !important;
  }
  .group{
    width: 200px !important;
    margin-left: 0 !important;
    display: block !important;
  }
  h1{
    font-size:xx-large ;
    }
    .menu{
    margin-left: 30px;
    justify-content: center !important;
    }
    .hamburger-button {
    display: none !important;
    }
    .search-container{
      display: none !important;
    }

}
  

@media screen and (min-width: 1024px) {
    #container{
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr !important;
    }
    .group{
      width: 190px !important;
      display: block !important;
    }
    h1{
      font-size:auto;
      white-space:nowrap;
      font-size:xx-large ;
    }
    .menu{
      margin-right: 50px;
      justify-content: flex-end !important;
    }
    .hamburger-button {
      display: none !important;
    }
    .search-container{
      display: none !important;
    }
}
  
    
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Playfair+Display:wght@500&display=swap');
