body {
    background-color: black;
    font-family:'Playfair Display';
}
h1 {
    color: white;
    text-align: center;
}
   
.input::placeholder {
    color: #9e9ea7;
   }
   
.input:focus, input:hover {
    outline: none;
    border-color: rgba(234,76,137,0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
   }

  @media screen and (min-width: 769px) {
    #container, .div_masculino , .div_feminino{
      grid-template-columns: 1fr 1fr 1fr 1fr !important;
      max-width: 1024px !important;
      align-items: center;
      align-content: center;
      place-items: center !important;
      height: 100vh !important;
    
    }
  }

  @media screen and (min-width: 1025px) {
    #container, .div_masculino, .div_feminino{
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr !important;
      max-width: 1200px !important;
      align-items: center;
      align-content: center;
      place-items: center !important;
      height: 100vh !important;
    }
  }
  

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Playfair+Display:wght@500&display=swap');
